.header {
  border-bottom: solid 1px rgb(84 84 84 / 70%);
  margin-top: 45px;
}

.header__logo {
  margin-bottom: 41px;
  width: 173px;
  height: 33px;
}

@media screen and (max-width: 320px) {
  .header {
    min-width: 320px;
    margin-top: 28px;
    margin-left: -19px;
  }
  .header__logo {
    width: 126px;
    height: 24px;
    margin-bottom: 32px;
    margin-left: 27px;
  }
}
